GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP10_HDP20_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP110_HDP122_CAU_Silkie_ONT_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP110_HDP122_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP1_HDP10_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP20_HDP30_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP30_HDP40_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP40_HDP50_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP50_HDP60_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP60_HDP70_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP70_HDP80_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP80_HDP90_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup1_IGV/Dup1_HDP90_HDP100_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP100_HDP110_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP10_HDP20_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP110_HDP120_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP120_HDP130_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP1_HDP10_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP20_HDP30_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP30_HDP40_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP40_HDP50_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP50_HDP60_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP60_HDP70_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP70_HDP80_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP80_HDP90_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
GRCg6a_IGV_report/Dup2_IGV/Dup2_HDP90_HDP100_CAU_Silkie_PacBio_IGV filter=lfs diff=lfs merge=lfs -text
